# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.env
.venv/
env/
venv/
bac/

# VS Code
.vscode/

# Node / frontend
frontend/node_modules/
frontend/dist/
frontend/build/

# Logs
*.log

# Local DB files
app_backend/dev.db
*.db
